@import "variables.scss";

.text-input {
  background-color: transparent;
  border: 0;
  outline: none;
  font-size: $font-biggest;
  font-family: "Montserrat";
  color: $color-dark-grey;
  border-bottom: 1px solid $color-dark-grey;
  padding: $p-3;
  flex-grow: 1;
  margin-bottom: $m-5;

  @media only screen and (min-width: 600px) {
    font-size: $font-bigger;
    margin-right: $m-5;
    margin-bottom: 0;
  }
}

.text-input::placeholder {
  color: $color-dark-grey;
  text-transform: lowercase;
}

.button {
  padding: $p-5 $p-9;
  background-color: $color-pink;
  color: $color-white;
  font-size: $font-regular;
  font-family: $font-family;
  text-transform: uppercase;
  border: 0;
  font-weight: bold;
  margin: $m-1;

  @media only screen and (min-width: 600px) {
    margin: 0 $m-1;
    border-radius: 30px;
  }
}

.button:hover {
  opacity: 0.6;
  cursor: pointer;
  animation: zoom 0.5s forwards;
}

.button:focus {
  outline: none;
  animation: zoom 0.5s forwards;
}

.button:disabled {
  background-color: $color-light-grey;
  color: $color-dark-grey;
}

@keyframes zoom {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.05);
  }
}
