.text-input {
  background-color: transparent;
  border: 0;
  outline: none;
  font-size: 26px;
  font-family: "Montserrat";
  color: #333333;
  border-bottom: 1px solid #8c8c8c;
  padding: 10px;
  flex-grow: 1;
  margin-right: 20px;
}

.text-input::placeholder {
  color: #8c8c8c;
  text-transform: lowercase;
}

.button {
  padding: 20px 35px;
  background-color: #ee2e5d;
  color: white;
  border-radius: 30px;
  font-size: 15px;
  font-family: "Montserrat";
  text-transform: uppercase;
  border: 0;
  font-weight: bold;
  margin: 0 5px;
}

.button:hover {
  opacity: 0.6;
  cursor: pointer;
  animation: zoom 0.5s forwards;
}

.button:focus {
  outline: none;
  animation: zoom 0.5s forwards;
}

.button:disabled {
  background-color: #bdbdbd;
  color: #5d5d5d;
}

@keyframes zoom {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.05);
  }
}
