.chat-wrapper {
  display: flex;
  flex-direction: column;
  padding: 25px;
  margin-bottom: 120px;
}

.message-group {
  display: flex;
  margin: 10px;

  &_theme_robot {
    justify-content: flex-start;

    .message {
      background-color: #f1f0f0;
      color: #1b1b1b;
    }
  }

  &_theme_user {
    justify-content: flex-end;

    .message {
      background-color: #ee2e5d;
      color: #fff4f4;
    }
  }
}

.message {
  padding: 15px 20px;
  margin: 0;
  font-size: 16px;
  line-height: 1.5rem;
  margin-bottom: 5px;
  text-align: left;
}

.message-group_theme_robot .message {
  background-color: #f1f0f0;
  color: #1b1b1b;
}

.message-group_theme_robot .message:first-of-type {
  border-top-left-radius: 24px;
}

.message-group_theme_robot .message:last-of-type {
  border-bottom-right-radius: 24px;
}

.message-group_theme_user .message:first-of-type {
  border-top-right-radius: 24px;
}

.message-group_theme_user .message:last-of-type {
  border-bottom-left-radius: 24px;
}

.message-group__messages {
  display: flex;
  flex-direction: column;
  max-width: 70%;
}
