@import "variables.scss";

.chat-wrapper {
  display: flex;
  flex-direction: column;
  padding: $p-4;
  margin-bottom: $m-36;
}

.message-group {
  display: flex;
  margin: $m-3;

  &_theme_robot {
    justify-content: flex-start;

    .message {
      background-color: $color-beige;
      color: $color-blackish;
    }
  }

  &_theme_user {
    justify-content: flex-end;

    .message {
      background-color: $color-pink;
      color: $color-beige;
    }
  }
}

.message {
  padding: $p-4 $p-5;
  margin: 0;
  font-size: $font-regular;
  line-height: 1.5rem;
  margin-bottom: $m-1;
  text-align: left;
}

.message-group_theme_robot .message {
  background-color: $color-beige;
  color: $color-blackish;
}

.message-group_theme_robot .message:first-of-type {
  border-top-left-radius: 24px;
}

.message-group_theme_robot .message:last-of-type {
  border-bottom-right-radius: 24px;
}

.message-group_theme_user .message:first-of-type {
  border-top-right-radius: 24px;
}

.message-group_theme_user .message:last-of-type {
  border-bottom-left-radius: 24px;
}

.message-group__messages {
  display: flex;
  flex-direction: column;
  max-width: 70%;
}
