.icon {
  width: 36px;
  height: 36px;
  justify-content: center;
  align-items: center;
  align-self: flex-end;
  margin: 10px 15px;
  display: flex;
}

.user-icon {
  background-color: #333333;
  color: white;
  font-size: 18px;
  font-weight: bold;
  border-radius: 18px;
}
