@keyframes blink {
  0% {
    opacity: 0.2;
  }

  20% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}

@keyframes wave {
  0%,
  60%,
  100% {
    transform: initial;
  }

  30% {
    transform: translateY(-10px);
  }
}

.typing {
  margin-top: 15px;

  &__dot {
    width: 10px;
    height: 10px;
    background-color: #ee2e5d;
    display: inline-block;
    margin-right: 4px;
    border-radius: 5px;
    animation: wave 1.3s linear infinite, blink 3s linear infinite;

    &:nth-child(2) {
      animation-delay: -1.1s;
    }

    &:nth-child(3) {
      animation-delay: -0.9s;
    }
  }
}
