@import "variables.scss";

.header {
  position: absolute;
  top: 0;
  background-color: $color-pink;
  width: $w-full;

  &__title {
    font-size: $font-small;
    text-transform: uppercase;
    color: $color-white;
    text-align: center;
    padding: $p-3;
    letter-spacing: 1px;
  }
}
