$font-family: "Montserrat";

$font-smaller: 0.5rem;
$font-small: 0.75rem;
$font-regular: 1rem;
$font-big: 1.25rem;
$font-bigger: 1.5rem;
$font-biggest: 1.75rem;

$color-white: white;
$color-pink: #ee2e5d;
$color-beige: #f1f0f0;
$color-blackish: #1b1b1b;
$color-light-grey: #bdbdbd;
$color-dark-grey: #4b4b4b;

$p-1: 0.25rem;
$p-2: 0.5rem;
$p-3: 0.75rem;
$p-4: 1rem;
$p-5: 1.25rem;
$p-6: 1.5rem;
$p-7: 1.75rem;
$p-8: 2rem;
$p-9: 2.25rem;
$p-10: 2.5rem;
$p-11: 2.75rem;
$p-12: 3rem;

$m-1: 0.25rem;
$m-2: 0.5rem;
$m-3: 0.75rem;
$m-4: 1rem;
$m-5: 1.25rem;
$m-6: 1.5rem;
$m-7: 1.75rem;
$m-8: 2rem;
$m-9: 2.25rem;
$m-10: 2.5rem;
$m-11: 2.75rem;
$m-12: 3rem;
$m-18: 4.5rem;
$m-24: 6rem;
$m-48: 12rem;

$w-1: 0.25rem;
$w-2: 0.5rem;
$w-3: 0.75rem;
$w-4: 1rem;
$w-5: 1.25rem;
$w-6: 1.5rem;
$w-7: 1.75rem;
$w-8: 2rem;
$w-9: 2.25rem;
$w-10: 2.5rem;
$w-11: 2.75rem;
$w-12: 3rem;
$w-full: 100%;

$h-1: 0.25rem;
$h-2: 0.5rem;
$h-3: 0.75rem;
$h-4: 1rem;
$h-5: 1.25rem;
$h-6: 1.5rem;
$h-7: 1.75rem;
$h-8: 2rem;
$h-9: 2.25rem;
$h-10: 2.5rem;
$h-11: 2.75rem;
$h-12: 3rem;
$h-full: 100%;
