@import "variables.scss";

.action-bar {
  margin-top: $m-12;
  background-color: $color-beige;
  padding: $p-5;
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
  width: $w-full;
  left: 0;
  box-sizing: border-box;
  flex-direction: column;

  @media only screen and (min-width: 600px) {
    flex-direction: row;
  }
}
