@import "variables.scss";

.footer {
  margin-top: $m-12;
  background-color: $color-beige;
  padding: $p-5;
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
  width: $w-full;
  left: 0;
  box-sizing: border-box;
}
